<div class="transaction-details-component">

    <p *ngIf="message" class="message" [ngClass]="messageType">{{message}}</p>

    <div *ngIf="transaction" class="grid-container">

        <!-- Transaction Information -->
         <div class="section-card">
            <h2>Transaction Information :</h2>

            <div class="info-line">
                <span>Type :</span>
                <p>{{transaction.transactionType}}</p>
            </div>

            <div class="info-line">
                <span>Status :</span>
                <p>{{transaction.status}}</p>
            </div>

            <div class="info-line">
                <span>Description :</span>
                <p>{{transaction.description}}</p>
            </div>
            
            <div class="info-line">
                <span>Total product :</span>
                <p>{{transaction.totalProducts}}</p>
            </div>

            <div class="info-line">
                <span>Total price :</span>
                <p>{{transaction.totalPrice}}</p>
            </div>

            <div class="info-line-date">
                <span>Created at :</span>
                <p>{{transaction.createdAt | date:'short'}}</p>
            </div>

            <div *ngIf="transaction.updatedAt" class="info-line-date">
                <span>Updated at :</span>
                <p>{{transaction.updatedAt | date:'short'}}</p>
            </div>
         </div>

        <!-- Product Information -->
         <div class="section-card">
            <h2>Product Information :</h2>

            <div class="info-line">
                <span>Name :</span>
                <p>{{transaction.product.name}}</p>
            </div>

            <div class="info-line">
                <span>Product ref :</span>
                <p>{{transaction.product.sku}}</p>
            </div>

            <div class="info-line">
                <span>Price :</span>
                <p>{{transaction.product.price}}</p>
            </div>

            <div class="info-line">
                <span>Quantity :</span>
                <p>{{transaction.product.stockQuantity}}</p>
            </div>

            <div *ngIf="transaction.product.description" class="info-line">
                <span>Description :</span>
                <p>{{transaction.product.description}}</p>
            </div>

            <div *ngIf="transaction.product.imageUrl" class="info-line">
                <img [src]="imageUrl" alt="preview">
            </div>
         </div>

        <!-- User associated -->
         <div class="section-card">
            <h2>User Information :</h2>

            <div class="info-line">
                <span>Name :</span>
                <p>{{transaction.user.name}}</p>
            </div>

            <div class="info-line">
                <span>Email :</span>
                <p>{{transaction.user.email}}</p>
            </div>

            <div class="info-line">
                <span>Phone number :</span>
                <p>{{transaction.user.phoneNumber}}</p>
            </div>

            <div class="info-line">
                <span>Role :</span>
                <p>{{transaction.user.role}}</p>
            </div>
         </div>

        <!-- Supplier Information -->
         <div 
         *ngIf="transaction.supplier"
         class="section-card"
         >
            <h2>Supplier Information :</h2>

            <div class="info-line">
                <span>Name :</span>
                <p>{{transaction.supplier.name}}</p>
            </div>

            <div class="info-line">
                <span>Address :</span>
                <p>{{transaction.supplier.address}}</p>
            </div>

         </div>

        <!-- UPDATE -->
         <div class="update-card">
            <div class="select-icon-wrapper">
                <label>STATUS : </label>
                <i class="fa-solid fa-bars status-icon"></i>
                <select [(ngModel)]="status">
                    <option *ngFor="let status of statusList" [value]="status">{{status}}</option>
                </select>
            </div>

            <button (click)="updateTransaction()" class="update">Update</button>
            <button (click)="goToTransaxtionList()" class="cancel">Cancel</button>
         </div>
    </div>
</div>
