<div class="purchase-component">
    <p *ngIf="message" class="message" [ngClass]="messageType">{{message}}</p>

    <h1>Restock Inventory</h1>

    <form (ngSubmit)="handleSubmit()">

        <div class="form-group">
            <label>Select Product :</label>
            <select 
            name="productId" 
            class="select-control"
            [(ngModel)]="formData.productId"
            >
              <option value="">Select a product</option>
              <option *ngFor="let product of products" [value]="product.id">{{product.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Select Supplier :</label>
            <select 
            name="supplierId" 
            class="select-control"
            [(ngModel)]="formData.supplierId"
            >
              <option value="">Select a supplier</option>
              <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{supplier.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Description :</label>
            <input type="text" class="form-control" [(ngModel)]="formData.description" name="description">
        </div>

        <div class="form-group">
            <label>Quantity :</label>
            <input type="text" class="form-control" [(ngModel)]="formData.quantity" name="quantity">
        </div>

        <div class="form-action">
            <button class="purchase">Purchase product</button>
            <button class="cancel" (click)="resetForm()" type="button">Cancel</button>
        </div>

    </form>

</div>
