.product-component {
    padding: 20px;
    background-color: #f3f4f6;
}
     
.product-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.message {
    color: #fff;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}

.message.error {
    background-color: #E34234;
}

.message.success {
    background-color: #48ac48;
}
     
.product-header h1 {
    color: #105acaff;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.product-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 0.7;
}

.add-pro {
    display: flex;
    align-items: center;
}

.product-header button {
    padding: 12px 12px;
    background-color: #105acaff;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.product-header button:hover {
    background-color: #5e7fb1ff;
}

.product-header button.refresh-btn {
    background-color: #15b170;
}

.product-header button.refresh-btn:hover {
    background-color: #037c4a;
}

.search-sup {
  position: relative;
  width: 300px;
  flex-shrink: 0;
}

.search-sup input {
  width: 100%;
  padding: 10px 40px 10px 15px; 
  border: 1px solid #ddd;
  font-size: 16px;
  outline: none;
  border-radius: 8px;
}

.search-sup input:focus {
    border-color: #5196fdff; 
}

.search-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.search-sup i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 18px;
}

.search-sup i:hover {
  color: #007bff;
}
     
.product-image {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
     
.add-product-btn {
    padding: 13px 20px;
    background-color: #105acaff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
     
.add-product-btn:hover {
    background-color: #5e7fb1ff;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-top: 50px;
}
     
.product-item {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
     
}
     
.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
    
.product-info {
    text-align: center;
}
     
.product-info .name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}
     
.product-info .name {
    color: #2F4F4F;
}
     
.product-info .sku,
.product-info .price,
.product-info .quantity { 
    color: #777;
    font-size: 0.9rem;
    margin-bottom: 5px;
}
     
.product-actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
     
.edit-btn,
.delete-btn {
    padding: 8px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
     
.edit-btn {
    background-color: #15b170;
}
     
.edit-btn:hover {
    background-color: #037c4a;
}
     
.delete-btn {
    background-color: #c52435;
}
     
.delete-btn:hover {
    background-color: #880606;
}
     
.loading {
    font-size: 1.2rem;
    color: #666;
    text-align: center;
    margin-top: 50px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    z-index: 1000;
}

.modal {
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.modal h4 {
    margin-bottom: 15px;
}

.modal-buttons button {
    padding: 10px 15px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-buttons button:first-child {
    background-color: #c52435;
}

.modal-buttons button:last-child {
    background-color: #838383;
}

.modal-buttons .yes:hover {
    background-color: #15b170;
}

.modal-buttons .no:hover {
    background-color: #105acaff;
}