<div class="category-component">
    <div *ngIf="message" class="message" [ngClass]="messageType">{{message}}</div>

    <div class="category-header">
        <h1>Category</h1>

        <div class="category-controls">
            <div class="add-cat">
                <input type="text" [(ngModel)]="categoryName" placeholder="Category name">

                <!-- Bouton Add -->
                <button *ngIf="!isEditing" (click)="addCategory()">
                    <i class="fa-solid fa-circle-plus" style="margin-right:8px;"></i>Add category
                </button>

                <!-- Bouton Edit -->
                <button *ngIf="isEditing" (click)="editCategory()">
                    <i class="fa-solid fa-pencil" style="margin-right:8px;"></i>Edit category
                </button>

                <!-- Bouton Cancel -->
                <button *ngIf="isEditing" (click)=" resterForm()" class="cancel-btn" title="Cancel">
                    <i class="fa-solid fa-circle-xmark"></i>
                </button>
            </div>

            <div class="search-wrapper">
                <div class="search-cat">
                    <input type="text" [(ngModel)]="searchCategory" placeholder="Search category">
                    <i class="fa-solid fa-magnifying-glass" (click)="handleSearch()" title="Search"></i>
                </div>
                <button (click)="searchCategory = ''; handleSearch()" class="refresh-btn" title="Refresh">
                    <i class="fa-solid fa-arrow-rotate-right"></i>
                </button>
            </div>
        </div>
    </div>

    <ul *ngIf="categories.length > 0" class="category-list">
        <li *ngFor="let category of categories" class="category-item">
            <span>{{category.name}}</span>
            <div class="category-actions">
                <button class="edit-btn" (click)="handleEditCategory(category)" title="Edit">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button class="delete-btn" (click)="deleteCategory(category.id)" title="Delete">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div>
        </li>
    </ul>

    <!-- Delete confirmation modal -->
     <div class="modal-backdrop"  *ngIf="showDeleteModal">
        <div class="modal">
            <h4>Are you sure you want to delete this category ?</h4>
            <div class="modal-buttons">
                <button (click)="confirmDelete()" class="yes">Yes</button>
                <button (click)="cancelDelete()" class="no">No</button>
            </div>
        </div>
     </div>

     <app-pagination
       *ngIf="totalPages > 0"
       [currentPage]="currentPage"
       [totalPages]="totalPages"
       (pageChange)="onPageChange($event)">
    </app-pagination>
</div>
