<div class="supplier-form-component">

    <div *ngIf="message" [ngClass]="messageType" class="message">{{message}}</div>

    <h1>{{isEditing ? "Edit supplier" : "Add supplier"}}</h1>

    <form (ngSubmit)="handleSubmit()">
        <div class="form-group">

            <label>
                <span>Name :</span>
                <input [(ngModel)]="formData.name" type="text" name="name" placeholder="Enter supplier name">
            </label>

            <label>
                <span>Address :</span>
                <input [(ngModel)]="formData.address" type="text" name="address" placeholder="Enter supplier address">
            </label>
        </div>

        <div class="form-actions">
            <button>{{isEditing ? "Save" : "Add"}}</button>
            <button class="cancel" (click)="goToSupplierList()">Cancel</button>
        </div>
    </form>
</div>