.supplier-component {
    padding: 20px;
    background-color: #f3f4f6;
}
     
.supplier-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.message {
    color: #fff;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}

.message.error {
    background-color: #E34234;
}

.message.success {
    background-color: #48ac48;
}
     
.supplier-header h1 {
    color: #105acaff;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.supplier-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 0.7;
}
     
.add-sup {
    display: flex;
    align-items: center;
}
        
.supplier-header button {
    padding: 12px 12px;
    background-color: #105acaff;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.supplier-header button:hover {
    background-color: #5e7fb1ff;
}

.supplier-header button.cancel-btn {
    background-color: #c52435;
    margin-left: 10px;
}

.supplier-header button.cancel-btn:hover {
    background-color: #880606;
}

.supplier-header button.refresh-btn {
    background-color: #15b170;
}

.supplier-header button.refresh-btn:hover {
    background-color: #037c4a;
}

.search-sup {
  position: relative;
  width: 300px;
  flex-shrink: 0;
}

.search-sup input {
  width: 100%;
  padding: 10px 40px 10px 15px; 
  border: 1px solid #ddd;
  font-size: 16px;
  outline: none;
  border-radius: 8px;
}

.search-sup input:focus {
    border-color: #5196fdff; 
}

.search-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.search-sup i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 18px;
}

.search-sup i:hover {
  color: #007bff;
}
     
.supplier-list {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.supllier-item .name i {
    color: #f16d2aff;
}

.supllier-item .address i {
    color: #104477ff;
}
     
.supllier-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    margin: 5px;
    font-size: 16px;
    background-color: white;
    border-bottom: 1px solid #eee;
    border-radius: 10px;
    color: #505050;
    font-weight: 550;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.supplier-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
     
.supllier-item:hover {
    background-color: #b5d8ff;
}
  
.supplier-actions button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #105acaff;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.supplier-actions .edit-btn:hover {
    background-color: #15b170;
}

.supplier-actions .delete-btn:hover {
    background-color: #880606;
}
     
.supplier-actions button:last-child {
    background-color: #c52435;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.modal h4 {
  margin-bottom: 15px;
}

.modal-buttons button {
  padding: 10px 15px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background-color: #c52435;
  color: white;
}

.modal-buttons button:last-child {
  background-color: #838383;
}

.modal-buttons .yes:hover {
    background-color: #15b170;
}

.modal-buttons .no:hover {
    background-color: #105acaff;
}