<div class="pagination-container">

    <!--- PREVIOUS BUTTON -->
    <button [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage - 1)">
        <i class="fa-solid fa-angles-left"></i>
    </button>

    <!--- TOTAL PAGE BUTTON -->
    <button 
    *ngFor="let number of pageNumbers"
    [class.active]="currentPage === number" 
    (click)="onPageChange(number)">
        {{number}}
    </button>

    <!--- NEXT BUTTON -->
    <button [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)">
        <i class="fa-solid fa-angles-right"></i>
    </button>
</div>
