.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    border-radius: 10px;
}

.pagination-container button {
    border: 1px solid #dee2e6;
    background-color: #ffffff;
    color: #495057;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
    line-height: 1; 
}

.pagination-container button:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-left: 0; 
}

.pagination-container button:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-right: 0;
}

.pagination-container button:hover:not(:disabled) {
    background-color: #e9ecef; 
    color: #105acaff;
    border-color: #007bff;
    z-index: 1;
}

.pagination-container button.active {
    background-color: #105acaff;
    color: white;
    border-color: #105acaff;
    font-weight: bold;
    z-index: 2;
}

.pagination-container button:disabled {
    background-color: #f8f9fa; 
    color: #6c757d; 
    border-color: #dee2e6;
    cursor: not-allowed;
    pointer-events: none;
}

.pagination-container button:first-child,
.pagination-container button:last-child {
    font-weight: 500;
}