.dashboard-component {
    padding: 20px;
    background-color: #f3f4f6;
}

h1 {
    color: #105acaff;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.dashboard-component > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.dashboard-component label {
    font-weight: 600;
    color: #555;
}

.dashboard-component button {
    background-color: #f16d2aff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.dashboard-component button:hover {
    background-color: rgb(206, 55, 18);
}

.dashboard-component > div:not(:nth-child(1)):not(:nth-child(2)) {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.dashboard-component h2 {
    color: #105acaff;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 15px;
    border-left: 4px solid #105acaff;
    padding-left: 10px;
}

.dashboard-component {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.select-icon-wrapper {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}

.select-search .status-icon {
    position: absolute;
    left: 12px; 
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    font-size: 18px;
    pointer-events: none;
}

.select-search .fa-bars {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%); 
    color: #666; 
    font-size: 18px;
    pointer-events: none; 
}

.select-search select {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    padding: 10px 15px 10px 45px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-image: none;
}

.select-search select:focus {
    border-color: #007bff;
}

.select-search .refresh-btn {
    background-color: #15b170;
}
.select-search .refresh-btn:hover {
    background-color: #037c4a;
}

@media (min-width: 900px) {
    .dashboard-component {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "title title"
            "filters filters"
            "bar-type pie-amount"
            "monthly monthly";
    }

    .dashboard-component h1 {
        grid-area: title;
    }
    
    .dashboard-component > div:nth-child(2) {
        grid-area: filters;
    }

    .dashboard-component > div:nth-child(3) { 
        grid-area: bar-type;
    }

    .dashboard-component > div:nth-child(4) {
        grid-area: pie-amount;
    }

    .dashboard-component > div:nth-child(5) { 
        grid-area: monthly;
    }
}