* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
}

button {
    padding: 10px 15px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2F4F4F;
}

.message {
    background-color: #d4edda;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 30px;
}
